.achievements {
  background: 
    radial-gradient(1200px 600px at 100% 0, var(--panel) 20%, transparent 70%),
    radial-gradient(400px 400px at 0 100%, var(--panel) 50%, transparent 70%),
    var(--bg);
}


.achievements-content{
    padding: 60px 20px;
    max-width: 1100px;
    margin: 0 auto;
    text-align: center;
}

.achievements h1 {
    font-size: 2rem;
    color: var(--main);
    margin-bottom: 10px;
}

.achievements .subtitle {
    margin-bottom: 40px;
    color: #ccc;
}

.certificates {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px;
}

.certificate-card {
    background: rgba(255,255,255,0.05);
    border-radius: 15px;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
}

.certificate-card img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
}

.certificate-card h3 {
    margin-bottom: 5px;
    color: #fff;
}

.certificate-card p {
    font-size: 0.9rem;
    color: #aaa;
    margin-bottom: 10px;
}

.certificate-card a {
    cursor: pointer;
    color: var(--main);
    text-decoration: none;
    font-weight: 600;
}


.hidden {
  display: none;
}

.show-more-btn {
  margin-top: 30px;
  background: var(--main);
  color: #fff;
  border: none;
  padding: 10px 25px;
  border-radius: 30px;
  cursor: pointer;
  font-weight: 600;
  transition: background 0.3s, transform 0.2s;
}

.show-more-btn:hover {
  background: #00aaff;
  transform: scale(1.05);
}