:root{
  --bg:#0b0e16;
  --panel:#0f1430;
  --text:#e6e7ee;
  --muted:#a5acc7;
  --main:#00abf0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Inter',system-ui,-apple-system,Segoe UI,Roboto,Arial,sans-serif;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--main);
  border-radius: 10px;
  transition: background 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  cursor: grabbing;
}


body {
    background: radial-gradient(1200px 600px at 20% -20%, var(--panel) 80%, transparent 100%) , var(--bg);
    color: #ededed;
}

h1,h2,h3,h4,h5,h6,p{
    cursor: default;
}

.header{
    position: fixed;
    justify-self: center;
    width: 95%;
    margin-top: 24px;
    padding:12px 16px;
    align-items:center;
    background:linear-gradient(180deg, rgb(255 255 255 / 0.04), rgb(255 255 255 / 0));
    border:1px solid rgb(255 255 255 / 0.08);
    flex-direction: row;
    border-radius: 40px;
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    z-index: 9999999999999999999999999;
}

.logo{
    margin-left: 20px;
    padding-bottom: 6px;
    padding-top: 6px;
    position: relative;
    font-size: 20px;
    color: #ededed;
    text-decoration: none;
    font-weight: 600;
    width: 200px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.logo img {
    width: 60px;
}

.navbar {
    margin-right: 20px;
    width: max-content;
    transform: translateY(50%);
    float: right;
}

.navbar a {
    justify-items: center;
    font-size: 18px;
    color: #ededed;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
}

.navbar a:hover, .navbar a.active {
    color: var(--main);
}

.menubar {
    margin-right: 20px;
    width: max-content;
    transform: translateY(50%);
    float: right;
}

.menubar .menuicon,.closeicon {
    font-size: 23px;
    transition: .3s;
    display: none;
}

.menubar .menuicon:hover,.closeicon:hover {
    color: var(--main);
}

.header,
.header .logo,
.header .navbar a,
.header .menubar .menuicon,
.header .menubar .closeicon {
  transition: background-color 0.35s ease, color 0.35s ease, border-color 0.35s ease, box-shadow 0.35s ease;
}

.header.light {
  background: rgba(130, 170, 223, 0.454);
}

.header.light .logo,
.header.light .navbar a{
    color: #111;
}

.header.light .navbar a:hover,
.header.light .navbar a.active {
  color: var(--main);
  font-weight: 600;
}

.home {
    background: radial-gradient(1200px 600px at 20% -20%, var(--panel) 20%, transparent 100%) , var(--bg);
    height: 105vh;
    display: flex;
    align-items: center;
    padding: 0 10%;
    margin-left: -100%;
    animation: showSection .8s ease forwards;
    animation-delay: .8s;
}

.home-content{
    max-width: 600px;
}

.home-content h1{
    position: relative;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.5;
}

.home-content h3{
    font-size: 32px;
    font-weight: 700;
    color: var(--main);
}

.home-content p{
    mix-blend-mode: difference;
    position: relative;
    color: var(--muted);
    font-size: 16px;
    margin: 20px 0 40px;
}

.home-content .btn-box{
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 345px;
    height: 50px;
}

.btn-box a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background: var(--main);
    border: 2px solid var(--main);
    border-radius: 30px;
    font-size: 19px;
    color: #081b29;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.btn-box a:hover {
    color: var(--main);
}


.btn-box a:nth-child(2) {
    background: transparent;
    color: var(--main);
}

.btn-box a:nth-child(2):hover {
    color: #081b29;
}

.btn-box a:nth-child(2)::before {
    background:var(--main);
}

.btn-box a::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #0b0e16;
    z-index: -1;
    transition: 0.5s;
}

.btn-box a:hover::before{
    width: 100%;
}

.home-sci{
    position: absolute;
    bottom: 40px;
    width: 190px;
    display: flex;
    justify-content: space-between;
}

.home-sci a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid var(--main);
    border-radius: 50%;
    font-size: 20px;
    color: var(--main);
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
}

.home-sci a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background:var(--main);
    z-index: -1;
    transition: .5s;
}

.home-sci a:hover{
    color: #081b29;
    transition: .5s;
}

.home-sci a:hover::before {
    width: 100%;

}


.animationImg{
    position: absolute;
    display: flex;
    justify-content: flex-end;
    width: 90%; 
}

#typing {
  display: inline-block;
  font-size: 32px;
  font-weight: 700;
  color: var(--main);
  border-right: 3px solid var(--main);
  white-space: nowrap;
  overflow: hidden;
  animation: blinkCursor 0.8s infinite;
}


/* KEYFRAMES ANIMATION */

@keyframes showSection {
    100%{
        margin-left: 0%;
    }
}
@keyframes blinkCursor {
  50% {
    border-color: transparent;
  }
}


@media (max-width: 980px){
    .menubar .menuicon{
        display: block;
    }

    .menubar .closeicon{
        display: none;
    }
    
   .menubar.open .menuicon{
        display: none;
   }

   .menubar.open .closeicon{
        display: block;
   }

   .menuicons{
        display: inline;
        color: #1B1B1B;
        transition: all .50s ease;
   }


    .iconlink:hover{
        filter: drop-shadow(0 6px 5px #ffb210);
        transform: translateY(5px);
    }

    .navbar{
        float: left;
    }

    .navbar {
        position: absolute;
        top: 0;
        right: -500%;
        padding: 10px;
        margin-top: 0;
        margin-right: 0px;
        display: flex;
        align-items: center;
        gap: 0px;
        justify-content: flex-start;
        background-color: var(--muted);
        flex-direction: column;  
        border-radius: 20px;
        transition: all .40s ease;
    }
    .navbar a {
        padding: 5px 20px;
        margin-bottom: 5px;
        width: 100%;
        color: var(--bg);
        font-weight: bold;
        transition: all 0.5s ease;
    }

    .navbar.open{
        right: 2%;
    }
}
@media (max-width: 980px){
    .animationImg dotlottie-wc{
        opacity: 0.5;
    }
}
@media (max-width: 635px){
    .home-content h1{
        font-size: 40px;
    }

    .home-content h3{
        font-size: 23px;
    }

    .home-content p{
        font-size: 12px;
    }
}

@media (max-width: 500px){
    .animationImg{
        margin-top: -380px;
    }

    .home-content{
        padding-top: 150px;
    }

    .home-content h1{
        font-size: 37px;
        text-align: center;
    }

    .home-content h3#typing{
        font-size: 28px;
        text-align: center;
    }

    .home-content p{
        font-size: 12px;
        text-align: center;
    }
    .home-content{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .home-sci{
        left: 50%;
        transform: translateX(-50%);
    }
}

@media (max-width: 420px){
    .home-content h1{
        font-size: 33px;
    }

    .home-content h3#typing{
        font-size: 25px;
    }

    .home-content p{
        font-size: 12px;
    }
}

@media (max-width: 382px){
    .home-content h1{
        font-size: 28px;
    }

    .home-content h3#typing{
        font-size: 20px;
    }

    .home-content p{
        font-size: 10px;
    }

    .home-content .btn-box{
        position: relative;
        display: flex;
        justify-content: space-between;
        width: 245px;
        height: 40px;
    }

    .btn-box a{
        font-size: 15px;
        width: 100px;
    }
}