.no-scroll {
  overflow: hidden !important;
  height: 100vh;
}

header {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.7s ease;
}

#loading {
  position: fixed;
  inset: 0;
  background: #0f1430;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 99999999999999999999999999999999;
  transition: opacity 0.7s ease;
}

.loader .path {
  fill: none;
  stroke: var(--main);
  stroke-width: 10;
  stroke-linecap: round;
  animation: rotate 2.2s linear infinite, dash 2.2s ease-in-out infinite;
  transform-origin: center;
}

@keyframes rotate {
  100% { transform: rotate(360deg); }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 300;   /* بداية: القوس صغير جداً */
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 140, 300; /* يبقى نص دائرة */
    stroke-dashoffset: -60;     /* يتحرك خلال الدوران */
  }
  100% {
    stroke-dasharray: 1, 300;   /* يرجع صغير تاني */
    stroke-dashoffset: -300;
  }
}


.loading-text {
  margin-top: 30px;
  font-size: 22px;
  font-weight: bold;
  color: #e6e7ee;
  letter-spacing: 2px;
}

.loading-text span {
  animation: dots 1.5s infinite;
}

.loading-text span:nth-child(2) { animation-delay: 0.3s; }
.loading-text span:nth-child(3) { animation-delay: 0.6s; }

@keyframes dots {
  0%, 20% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}
